.container {
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-bottom: 3.5em;
}

.socials {
    float: left;
}

.socials img {
    width: 300px;
    border-radius: 50%;
}

.socials ul {
    text-align: center;
    list-style-type: none;
}

.socials li {
    padding: 3px;
}

.socials a {
    text-decoration: none;
    color: black;
    transition: .2s;
    padding: 2px;
    border-radius: 8px;
}

.socials a:hover {
    background-color: lightgray;
}

.text {
    margin-top: 7%;
    margin-left: 5em;
}