.navbar {
    background-color: #83A672;
    width: 100%;
    height: 100%;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0.7em;
}

.navbar li {
    margin: 10px;
    font-size: 1.1em;
}