.navbar {
    background-color: #83A672;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0.7em;
}

.navbar .not_img {
    margin: 7px;
    padding: 3px;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: .2s;
}

.navbar .not_img:hover {
    background-color: #B5D991;
}

.navbar img {
    width: 2em;
    margin: 7px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.navbar img:hover {
    background-color: #B5D991;
}

.isActive {
    background-color: #B5D991;
}

@media screen and (max-width: 767px) {
    .navbar .not_img {
        font-size: 0.8em;
    }

    .navbar img {
        width: 1.7em;
    }
}

@media screen and (max-width: 424px) {
    .navbar .not_img {
        font-size: 0.6em;
    }

    .navbar img {
        width: 1.5em;
    }
}

@media screen and (max-width: 374px) {
    .navbar .not_img {
        font-size: 0.4em;
    }

    .navbar img {
        width: 1.3em;
    }
}