.abilities {
    background-image: linear-gradient(to right bottom, #212226, #3E4F59, #568C73);
    padding: 10px;
}

.javascript, .python, .html_css {
    display: flex;
    background-color: #B5D991;
    width: 35em;
    margin: 1.5em auto;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
}

.javascript img, .python img, .html_css img {
    width: 4em;
    height: 4em;
    margin: auto;
}

.javascript p, .python p {
    margin-left: 0.5em;
}

.html_css p {
    margin-right: 0.5em;
}