.footer {
    padding: 15px;
    text-align: center;
    background-color: black;
}

.footer p {
    font-size: 0.8em;
    color: white;
}

.footer a {
    font-size: 1em;
    padding: 2px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: .2s;
}

.footer a:hover {
    background-color: #ffffff4b;
}